src/main/mule/assignmentapi1.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns:http="http://www.mulesoft.org/schema/mule/http" xmlns="http://www.mulesoft.org/schema/mule/core"
	xmlns:doc="http://www.mulesoft.org/schema/mule/documentation"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd">
	<http:listener-config name="HTTP_Listener_config" doc:name="HTTP Listener config" doc:id="f0175f32-fa9b-4d17-856a-04ecc1d2c303" >
		<http:listener-connection host="0.0.0.0" port="8081" />
	</http:listener-config>
	<flow name="assignmentapiFlow" doc:id="b73ebb72-6b64-411f-bd42-37bf4a701c45" >
		<http:listener doc:name="Listener" doc:id="f0bade47-638d-4193-a812-510fddc27cf1" config-ref="HTTP_Listener_config" path="/assignment1"/>
		<logger level="INFO" doc:name="Logger" doc:id="5d9f7d43-6097-4182-93e3-79c6f9a23877" message='#["main flow starts"]'/>
		<flow-ref doc:name="Flow Reference" doc:id="341e5a17-b479-4371-b58b-4391b2f11f4c" name="assignmentapiFlow1"/>
		<logger level="INFO" doc:name="Logger" doc:id="78515d71-aecf-4e0e-baab-b36b4480ac33" message='#["main flow continues"]'/>
		<flow-ref doc:name="Flow Reference" doc:id="ed841317-306e-4336-abaa-edac41626cea" name="assignmentapiSub_Flow"/>
		<logger level="INFO" doc:name="Logger" doc:id="35366ee4-48cf-4d91-8fb6-929367842062" message='#["main flow ends"]'/>
	</flow>
	<flow name="assignmentapiFlow1" doc:id="02cf8a56-0549-4cd1-bb9a-f9a68f0904eb" >
		<logger level="INFO" doc:name="Logger" doc:id="948ca863-f521-43bb-95d8-865d5f7b5766" message='#["this is second flow"]'/>
	</flow>
	<sub-flow name="assignmentapiSub_Flow" doc:id="d577c69b-db33-4d0b-b0e9-d7acc63c98f2" >
		<logger level="INFO" doc:name="Logger" doc:id="0e6edfa6-462e-4b0b-b3c7-571c37b9317c" message='#["this is sub flow"]'/>
	</sub-flow>
</mule>
